@(message: String)

@main("proguard.herokuapp.com -  Create Useful .proguard Files For Your Project ") {
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover"><img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Settings-icon.png">
                    <p class="lead">Create useful .proguard files for your project</p>
                    <div class="input-group">
                        <input id="ignoreSearch" type="text" tabindex="1" class="input form-control">
                        <div class="input-group-btn"><button type="button" onClick="generateGitIgnore()" class="btn btn-gitignore">Generate</button>
                        </div></div>
                <div class="mastfoot"><div class="inner">
                    <p class="lead">Hosting 60+ .proguard templates inspired by
                        <a href="https://www.gitignore.io/">gitignore.io</a> and
                        <a href="https://github.com/krschultz/android-proguard-snippets">proguard snippets</a></p>


                </div>
                </div>
            </div>
        </div>
    </div>
}
