@(message: String)

@main("proguard.herokuapp.com -  Create Useful .proguard Files For Your Project ") {
<html lang="en" itemscope="itemscope" itemtype="https://schema.org/WebApplication" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/><title>https://proguard.herokuapp.com/ -  Create Useful proguard Files For Your Project </title>
        <meta name="author" content="Valery Kuznetsov">
        <meta name="description" content="Create Useful proguard Files For Your Project by selecting from 60+ .proguard templates">
        <meta name="keywords" content="proguard,.proguard,generator">
        <meta property="og:type" content="website">
        <meta property="og:title" content="https://proguard.herokuapp.com/">
        <meta property="og:description" content="Create useful .gitignore files for your project">
        <meta property="og:image" content="https://proguard.io/favicon.png">
        <meta property="og:url" content="https://proguard.herokuapp.com/">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="_dwite_">
        <meta name="twitter:title" content="https://proguard.herokuapp.com/">
        <meta name="twitter:description" content="Create Useful .proguard Files For Your Project ">
        <meta name="twitter:creator" content="_dwite_">
        <meta name="twitter:image:src" content="https://proguard.io/favicon.png">
        <meta name="twitter:domain" content="https://proguard.herokuapp.com/">
        <meta itemprop="name" content="https://proguard.herokuapp.com/">
        <meta itemprop="description" content="Create useful .proguard files for your project">
        <script type="text/javascript">

    </script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/select2.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/app.css")">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
        <link href="@routes.Assets.versioned("/stylesheets/jquery.tagit.css")" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="inner cover"><img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Settings-icon.png">
                        <p class="lead">Create useful .proguard files for your project</p>
                        <div class="input-group"><input id="ignoreSearch" type="text" tabindex="1" class="input form-control">
                            <div class="input-group-btn"><button type="button" onClick="generateGitIgnore()" class="btn btn-gitignore">Generate</button>
                            <button type="button" data-toggle="dropdown" class="btn btn-gitignore dropdown-toggle">
                                <span class="caret"></span>
                            </button><ul role="menu" class="dropdown-menu pull-right">
                                <li><a onClick="generateProguardFile()">
                                    <span class="icon-download">Download File</span></a></li></ul></div></div><ul class="nav masthead-nav"></ul></div>
                    <div class="mastfoot"><div class="inner">
                        <p class="lead">Hosting 60+ .proguard templates</p>
                        <script type="text/javascript">
                                $(document).ready(function() {

                                    var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

                                    $("#myTags").tagit(
                                            availableTags: sampleTags,
                                    );
                                });
                        </script>

                        <ul id="myTags">
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.versioned("/javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/jquery-ui.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/select2.full.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/retina.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/app.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/tag-it.js")" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
}
