@(message: String)

@main("proguard.herokuapp.com -  Create Useful .proguard Files For Your Project ") {
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="inner cover"><img src="http://icons.iconarchive.com/icons/dtafalonso/android-lollipop/128/Settings-icon.png">
                    <p class="lead">Create useful .proguard files for your project</p>
                    <div class="input-group">
                        <form>
                            <p>
                                If you instantiate Tag-it on an INPUT element, it will default to being singleField, with that INPUT element as the singleFieldNode. This is the simplest way to have a gracefully-degrading tag widget.
                            </p>
                            <input name="tags" id="singleFieldTags2">
                        </form>
                        <input id="ignoreSearch" type="text" tabindex="1" class="input form-control">
                        <div class="input-group-btn"><button type="button" onClick="generateGitIgnore()" class="btn btn-gitignore">Generate</button>
                        <button type="button" data-toggle="dropdown" class="btn btn-gitignore dropdown-toggle">
                            <span class="caret"></span>
                        </button><ul role="menu" class="dropdown-menu pull-right">
                            <li><a onClick="generateProguardFile()">
                                <span class="icon-download">Download File</span></a></li></ul></div></div><ul class="nav masthead-nav"></ul></div>
                <div class="mastfoot"><div class="inner">
                    <p class="lead">Hosting 60+ .proguard templates</p>


                </div>
                </div>
            </div>
        </div>
    </div>
}
