@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta charset="utf-8"/><title>https://proguard.herokuapp.com/ -  Create Useful proguard Files For Your Project </title>
        <meta name="author" content="Valery Kuznetsov">
        <meta name="description" content="Create Useful proguard Files For Your Project by selecting from 60+ .proguard templates">
        <meta name="keywords" content="proguard,.proguard,generator">
        <meta property="og:type" content="website">
        <meta property="og:title" content="https://proguard.herokuapp.com/">
        <meta property="og:description" content="Create useful .gitignore files for your project">
        <meta property="og:image" content="https://proguard.io/favicon.png">
        <meta property="og:url" content="https://proguard.herokuapp.com/">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="_dwite_">
        <meta name="twitter:title" content="https://proguard.herokuapp.com/">
        <meta name="twitter:description" content="Create Useful .proguard Files For Your Project ">
        <meta name="twitter:creator" content="_dwite_">
        <meta name="twitter:image:src" content="https://proguard.io/favicon.png">
        <meta name="twitter:domain" content="https://proguard.herokuapp.com/">
        <meta itemprop="name" content="https://proguard.herokuapp.com/">
        <meta itemprop="description" content="Create useful .proguard files for your project">
        <script type="text/javascript">

    </script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/select2.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/app.css")">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("/stylesheets/jquery.tagit.css")">

        <script src="@routes.Assets.versioned("/javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/jquery-ui.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/select2.full.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/retina.min.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/app.js")"></script>
        <script src="@routes.Assets.versioned("/javascripts/tag-it.js")" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        @content
    </body>
</html>
